.app-container {
    max-width: 1024px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.recipes-single {
    border: 1px solid #000;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.recipes-single:first-child {
    margin-top: 0;
}

.recipes-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.recipes-description {
    font-size: 12px;
    margin-top: 5px;
}